body {
  padding-top: 130px;
}
h1{
  text-align: center;
  padding-bottom:10px;
}
a{
  text-decoration: none;
}
header{
  padding-right:30px;
}
.main-logo{
  font-size:20px;
  padding-top: 11px;
  padding-left:10px;
  font-weight: bold;
  font-family: Courier;
  height: 50px;
}
.field{
  width: 100%;
  font-size:14px; 
}
.submit-btn{
  padding-top:5px;
}
.back{
  float:right;
  font-size:20px;
}
.post-list{
  overflow: auto;
  padding: 10px 0;
  padding-left: 80px;
  border-bottom: 1px solid #dcdcdc;
}
.post-name{
  font-size:20px;
}
.post-delete{
  float:right;
  padding-left:3px;
}
.post-edit{
  float:right;
}
.error{
  font-size: 15px;
  color: tomato;
}
